.intDiv {
    background-color: lightgreen;
    display: flex;
    width: 40vw;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    height: auto;
  }
  /* .intDiv button{
    height: 35px;
    width: 200px;
    color: white;
    background-color: limegreen;
    text-align: center;
  }
  .intDiv button:hover{
    background-color: white;
    color: limegreen;
  } */