@media(max-width:576px){
    .container{
        margin: 0px 30px;
    }
    /* ================= header ==================== */
    header .navigation .logo{
        flex: 1;
    }
    header .navigation .nav {
        display: none;
    }
    header .navigation .theme button{
        display: block;
    } 
    /* ============== HomeImage =============== */
    .HomeImage .Home-p{
        padding: 150px 0px;
    }
    .HomeImage .HomeText h1{
        font-size: 35px;
    }
    .HomeImage .HomeText p{
        width: 100%;
    }
/* ==================== best coffee for you =============== */
    .best-coffee .coffee-box-flex{
        flex-direction: column;
    }
    .best-coffee .coffee-box-flex .right-images{
        grid-template-columns: repeat(2,1fr);
    }
/* =================== product ================== */
.product .product-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
/* ================= services ==================== */
.service .service-flex{
    display: flex;
    flex-direction: column;
}
.service .service-flex .right-ser-data .right-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-top: 25px;
}
/* ==================== coffee gallery ================== */
.coffee-gallery .gallery-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
/*==================== blogs =============================*/
.blog .blog-flex{
    display: flex;
    flex-direction: column;
}
.blog .blog-flex .card .card-img-hover{
    grid-template-columns: repeat(1,1fr);
}
/* =================== footer ===============*/
.footer .footer-grid{
    display: grid;
    grid-template-columns:  1fr;
    gap: 20px;
}
}