@media (min-width:768px) {
    /*---- header ----*/

header .navigation .logo{
    flex: 1;
}
header .navigation .nav{
    display: flex;
}
header .navigation .theme button{
    display: none; 
}
/* ---- fitness ---- */
/* fitness section inherit from min 576px */ 
/* service section inherit from min 576px */
/* ---- start ---- */
.start .start-flex{
    display: flex;
}
}