@media (min-widht:992px) {
    .container{
        margin: 0px 30px;
    }

/*---- header ----*/
header .navigation .logo{
    flex: 0.5;
}
header .navigation .nav{
    display: flex;
}
header .navigation .theme button{
    display: none;
}
/* ---- fitness ----*/
.fitness .fitness-flex{
    display: flex;
}
.fitness .fitness-flex .right-content{
    flex: 1;
}
/* ---- service ---- */
.service .service-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
/* ---- start ---- */
.start .start-flex{
    display: flex;
}
}